.abstractcheckbox {
  opacity: 0;   
}

.abstractdiv{
  display: none;
}

.abstractcheckbox:checked ~ .abstractdiv {
  display: block;
}

p.abstractp {
  text-align: justify; 
}

div.abstractbotton {
  cursor: pointer;
}

div.draftbotton {
 
}

div.commingbotton {
 
}
