.wrapper {
  margin: 0 auto;
}

.abstractcheckbox {
  opacity: 0;   
}

.abstractdiv{
  display: none;
  width: 92%;
  margin: auto;
  /* border-style: none solid none solid; */
  /* border-color: #267cb9; */
  /* border-width: 0.1em; */
}

.abstractcheckbox:checked ~ .abstractdiv {
  display: block;
}

li {
  margin-bottom:1.1em;
}

p.abstractp {
  text-align: justify;
  padding: 0.2em;
}

div.abstractbotton {
  cursor: pointer;
  display: inline-block;
  color: #267cb9;
  margin-right: 1em;
}

div.abstractbotton:hover {font-weight:bold;}

div.draftbotton {
  cursor: pointer;
  display: inline-block;
  color: #267cb9;
}

div.draftbotton:hover {font-weight:bold;}

div.comingbanner {
  display: inline-block;
  color: #516878;
}

img.icon {
  height: 1em;
  width: auto;
}

strong {
  color:#267cb9;
}
